<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <script src="https://unpkg.com/vue@3.5.13"
        integrity="sha384-G++pO/TtP6SeNEBuO/CYuppmlcEhA0Rj9IcY5feVJXhyYraEA8CKVZV38iDXLTyJ"
        crossorigin="anonymous"></script>
    <script type="module" src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <top-menu @search="handleSearch"></top-menu>
        <filter-bar :filters="selectedFilters" @remove-filter="handleRemoveFilter"></filter-bar>
        <search-filter v-if="searchResults.length > 0" @clear-search="handleClearSearch"></search-filter>

        <div class="main-content">
            <div v-if="searchResults.length === 0">
                <div class="user-category">
                    <h2>Kund<img src="img/lets-icons_user-fill.png" alt="user icon"></h2>
                </div>
                <food-card title="Huvudingrediens" :category-tree="mainIngredientTree"
                    @add-filter="handleAddFilter"></food-card>
                <food-card title="Grönsaker" :category-tree="vegetableTree" @add-filter="handleAddFilter"></food-card>
                <food-card title="Typ av måltid" :category-tree="mealTypeTree"
                    @add-filter="handleAddFilter"></food-card>
                <food-card title="Specialkost" :category-tree="specialTree" @add-filter="handleAddFilter"></food-card>
                <food-card title="Världens mat" :category-tree="worldFoodTree"
                    @add-filter="handleAddFilter"></food-card>
                <div class="slider-card">
                    <p class="slider-title">Pris per person</p>
                    <input type="range" id="slider" name="price" min="0" max="1000" step="100" value="500"
                        list="values" />
                    <datalist id="values">
                        <option value="0" label="0 kr"></option>
                        <option value="200" label="200 kr"></option>
                        <option value="400" label="400 kr"></option>
                        <option value="600" label="600 kr"></option>
                        <option value="800" label="800 kr"></option>
                        <option value="1000" label="1000+ kr"></option>
                    </datalist>
                </div>

                <div class="user-category">
                    <h2>Kock<img src="img/tabler_chef-hat.png" alt="user icon chef"></h2>
                </div>
                <food-card title="Planering" :category-tree="chefTree" @add-filter="handleAddFilter"></food-card>
                <option-section @search="handleSearch" @clear-option-filters="clearOptionFilters"></option-section>
            </div>

            <search-results :results="searchResults"></search-results>
        </div>
    </div>

    <footer>
        <p>Receptsök är en produkt av Axfood Sverige</p>
        <p>Kontakt</p>
        <p>Om oss</p>
        <p>Jobb</p>
    </footer>

</body>

</html>