/* Main content */
@media (max-width: 600px) {
    .main-content {
        width: 100%;
    }
}

body {
    width: 600px;
    background-color: rgb(208, 215, 209);
    color: #26693C;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

h2 {
    background-color: #AFC3B5;
    padding: 0.5rem;
    border-radius: 8px;
}

.user-category h2 {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 415px
}

.green-icon {
    fill: #26693C;
}

.topmenu {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1000;
    top: 0;
    padding-top: 0.5rem;
    background-color: #90AE99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topmenu img {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.topmenu div {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.topmenu h1 {
    font-size: medium;
    font-weight: lighter;
}

.topmenu div input {
    margin: 0.5rem;
}

.filterbar {
    position: sticky;
    top: 10;
    z-index: 1000;
    background-color: #90AE99;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filterbar button {
    background-color: #f0f0f0;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Card designs */
.food-card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-top: 1rem;
    width: 400px;
    position: relative;
}


.slider-card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-top: 1rem;
    width: 400px;
    position: relative;
}

.slider-title {
    text-decoration: underline;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 100%;
}

.card-name {
    text-decoration: underline;
    font-size: 12px;
    display: flex;
    flex-direction: row;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.category-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.category-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    border: outset;
    border-color: #26693C;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    color: #26693C;
}

.subcategory-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.subcategory-button {
    background-color: #FFFFFF;
    border: outset;
    border-color: #26693C;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #26693C;
    border-radius: 5px;
}


.sub-category {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 0.5rem;
}

.sub-item {
    display: inline-flex;
    padding: 4px 8px;
    border: 0.5px solid #26693C;
    border-radius: 5px;
    white-space: nowrap;
}

.option-section {
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 5px;
    margin-top: 0.5rem;
}

.option-section>label {
    display: flex;
    justify-content: space-between;
}
.option-section .popup {
    display: none;
    background-color:#90AE99;
    position: absolute;
    color: black;
    border-style: outset;
    border-color: black;
    bottom: 100%;
    left: 10%;
    transform: translateX(-90%);
    padding: 10px;
    z-index: 10;
    width: 100px;
}

.option-section label {
    position: relative; 
    cursor: pointer;
}

.option-section label:hover .popup {
    display: block;
}

.step {
    display: flex;
    justify-content: space-between;
}

.option-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.option-buttons button {
    background-color: #FFFFFF;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 0.5rem;
    color: #26693C;
}

.show-more-button {
    flex: 0 0 30%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    padding: 1rem;
}

.search-results {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 20px;
    width: 560px;
}

.search-results img {
    width: 115px;
    height: 115px;
    border-radius: 8px;
    margin: 0.5rem;
}

.result-card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: space-between;
    justify-self: center;
    padding: 0.5rem;
    border-radius: 8px;
    gap: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.top {
    display: flex;
    justify-content: space-between;
}

.bottom {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.to-left {
    display: flex;
    gap: 1rem;
}

.to-right {
    display: flex;
    font-weight: bold;
}

.short-info > ul {
    list-style-type: none;
    text-wrap: nowrap;
}

.searchfilter {
    position: sticky;
    top: 0;
    z-index: 1100;
    background-color: #90AE99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sorting {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.clear-text {
    justify-self: flex-end;
}

.searchfilter img {
    height: 20px;
    margin-right: 5px;
}


footer {
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #90AE99;
    margin-top: 1rem;
}
