body {
    width: 600px;
    background-color: rgb(208, 215, 209);
    color: #26693C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

svg {
    fill: #26693C;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #90AE99;
}

.navbar div {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.navbar h1 {
    font-size: medium;
    font-weight: lighter;
}

.navbar div input {
    margin: 0.5rem;
}

.chosen-filters {
    position: sticky;
    top: 10;
    background-color: #90AE99;
    padding: 0.5rem;
}

.main-content {
    width: 400px;
}

h2 {
    background-color: #AFC3B5;
    padding: 0.5rem;
    border-radius: 8px;
}

footer {
    background-color: #90AE99;
    padding: 1rem;
}